{% extends "base.html" %}  <!-- Extend base.html -->

{% block title %}Inventory Management{% endblock %}  <!-- Set the page title -->

{% block content %}  <!-- Start the content block -->
<body>
    <h1>Inventory</h1>

    <div class="vertical-menu">
        <a href="{{ url_for('product_list') }}">Product List</a>
        <a href="">Search for products</a>
        <a href="">Edit product details</a>
        <a href="">Add/Remove Products</a>
    </div>
</body>
{% endblock %}  <!-- End the content block -->
