{% extends "base.html" %}  <!-- Extend base.html -->

{% block title %}Inventory Management{% endblock %}  <!-- Set the page title -->

{% block content %}  <!-- Start the content block -->

<div class="container mt-4">


    <body>
        <h1>Inventory Overview</h1>
    </body>

        <form method="POST">
            <fieldset>
                <legend>What Product would you like to search for?</legend>
                <p>
                    <label for="productsearch">Product Name</label>
                    <input type="text" name="productSearch" id="productsearch"/>
                </p>
            </fieldset>
        </form>


</div>


{% endblock %}  <!-- End the content block -->
